cs50
Flask
Flask-Session
requests
tempfile
werkzeug.security

helpers

According to the stderr.log file, the issue is related to the port:

Port 5000 is in use by another program. Either identify and stop that program, or start the server with a different port.