{% extends "layout.html" %}

{% block title %}
    Register as a Patient
{% endblock %}

{% block main %}
    <form action="/register_patient" method="post">
        <div class="mb-3">
            <select  autofocus class="form-select mx-auto w-auto" name="title" id="title">
                <option disabled selected value=" ">Title:</option>
                <option value="Mr.">Mr</option>
                <option value="Mrs.">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms.">Ms</option>
                <option value="Dr.">Dr</option>
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="First Name" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Last Name" type="text" required>
        </div>
        <div class="mb-3">
            <p>Date of Birth:</p>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="dob" name="dob" placeholder="Date of Birth" type="date" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <div>
            <input name="usertype" type="hidden" value="Patient">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
